body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Header styles */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-header {
  color: #2e2f42;
}

.nav-link {
  font-weight: 500;
  color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.address-link {
  font-style: normal;
  color: #434455;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* Hero styles */

.hero {
  background-color: #2e2f42;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
}

.hero-button {
  font-weight: 500;
  line-height: 1.17;
  /* border: none;
  border-radius: 4px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* Features styles */

/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}

/* Team styles */

.team {
  background-color: #f4f4fd;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  color: #2e2f42;
}

.team-member {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #2e2f42;
}

.team-position {
  text-align: center;
}

/* Portfolio styles */

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  color: #2e2f42;
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}

/* Footer styles */

.footer {
  background-color: #2e2f42;
}

.logo-footer {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
}
